.meditor-header {
    padding-left: 10px;
    color: #444;
    background-color: #f2f2f2;
    clear: both;
}

.meditor-header button {
    height: 48px;
    width: 48px;
    border: none;
    background-color: #f2f2f2;
    outline: none !important;
    border-radius: 0 !important;
    margin-left: 0 !important;
}
.h-container{
    padding: 0;
}
.h-container li a:hover{
    background-color: #EBEBEB !important;
}
.h-container .h1,
.h-container .h2,
.h-container .h3,
.h-container .h4,
.h-container .h5,
.h-container .h,
.h-container .h6{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}



#show_font_size, .header-name {
    display: inline-block;
    width: 26px;
    text-align: center;
}

.font-style-active {
    background-color: #cccccc !important;
}

.meditor-header button i {
    font-size: 14px;
    color: #555;
}

.meditor-body {
    border: 1px solid #cccccc;
    border-top: none;
    padding: 3px;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    outline: none !important;
    resize: vertical;
}

.meditor-header .header-name {
    font-weight: 500;
}

font[size='1'] {
    font-size: 12px;
}

font[size='2'] {
    font-size: 14px;
}

font[size='3'] {
    font-size: 16px;
}

font[size='4'] {
    font-size: 18px;
}

font[size='5'] {
    font-size: 20px;
}

font[size='6'] {
    font-size: 22px;
}

font[size='7'] {
    font-size: 24px;
}

/**
font color
 */

.select-number a {
    padding: 8px 14px !important;
}

.select-number li {
}

.select-number {
    min-width: 60px;
    padding: 0;
}

.font-color {
    display: inline-block;
    padding: 0 16px;
    border-bottom: 1px solid #333333;
}

.btn-font-color {
    position: relative;
}

#color-line {
    position: absolute;
    width: 28px;
    height: 4px;
    left: 5px;
    bottom: 0;
    background-color: #333;
}

.color-cell {
/ / cursor: pointer;
}

.font-bg {
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 3px;
    background-color: #FFFFFF;
}

.btn-font-bg {
    padding: 5px 12px;
}

.color-panel {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    width: 200px;
}

.dropdown-menu {
    z-index: 9999;
}

.color-cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #333333;
    border: 1px solid #cccccc;
}


.color-cell[color="#f44336"] {
    background-color: #f44336;
}

.color-cell[color="#e91e63"] {
    background-color: #e91e63;
}

.color-cell[color="#9c27b0"] {
    background-color: #9c27b0;
}

.color-cell[color="#673ab7"] {
    background-color: #673ab7;
}

.color-cell[color="#3f51b5"] {
    background-color: #3f51b5;
}

.color-cell[color="#2196f3"] {
    background-color: #2196f3;
}

.color-cell[color="#03a9f4"] {
    background-color: #03a9f4;
}

.color-cell[color="#00bcd4"] {
    background-color: #00bcd4;
}

.color-cell[color="#009688"] {
    background-color: #009688;
}

.color-cell[color="#4caf50"] {
    background-color: #4caf50;
}

.color-cell[color="#8bc34a"] {
    background-color: #8bc34a;
}

.color-cell[color="#cddc39"] {
    background-color: #cddc39;
}

.color-cell[color="#ffeb3b"] {
    background-color: #ffeb3b;
}

.color-cell[color="#ffc107"] {
    background-color: #ffc107;
}

.color-cell[color="#ff9800"] {
    background-color: #ff9800;
}

.color-cell[color="#ff5722"] {
    background-color: #ff5722;
}

.color-cell[color="#795548"] {
    background-color: #795548;
}

.color-cell[color="#9e9e9e"] {
    background-color: #9e9e9e;
}

.color-cell[color="#607d8b"] {
    background-color: #607d8b;
}

.color-cell[color="#e57373"] {
    background-color: #e57373;
}

.color-cell[color="#f06292"] {
    background-color: #f06292;
}

.color-cell[color="#ba68c8"] {
    background-color: #ba68c8;
}

.color-cell[color="#155263"] {
    background-color: #155263;
}

.color-cell[color="#9575cd"] {
    background-color: #9575cd;
}

.color-cell[color="#7986cb"] {
    background-color: #7986cb;
}

.color-cell[color="#64b5f6"] {
    background-color: #64b5f6;
}

.color-cell[color="#4fc3f7"] {
    background-color: #4fc3f7;
}

.color-cell[color="#4dd0e1"] {
    background-color: #4dd0e1;
}

.color-cell[color="#4db6ac"] {
    background-color: #4db6ac;
}

.color-cell[color="#81c784"] {
    background-color: #81c784;
}

.color-cell[color="#aed581"] {
    background-color: #aed581;
}

.color-cell[color="#dce775"] {
    background-color: #dce775;
}

.color-cell[color="#fff176"] {
    background-color: #fff176;
}

.color-cell[color="#ffd54f"] {
    background-color: #ffd54f;
}

.color-cell[color="#ffb74d"] {
    background-color: #ffb74d;
}

.color-cell[color="#ff8a65"] {
    background-color: #ff8a65;
}

.color-cell[color="#bcaaa4"] {
    background-color: #bcaaa4;
}

.color-cell[color="#eeeeee"] {
    background-color: #eeeeee;
}

.color-cell[color="#b0bec5"] {
    background-color: #b0bec5;
}

.color-cell[color="#ffebee"] {
    background-color: #ffebee;
}

.color-cell[color="#ffffff"] {
    background-color: #ffffff;
}

.color-cell[color="#b71c1c"] {
    background-color: #b71c1c;
}

.color-cell[color="#880e4f"] {
    background-color: #880e4f;
}

.color-cell[color="#4a148c"] {
    background-color: #4a148c;
}

.color-cell[color="#311b92"] {
    background-color: #311b92;
}

.color-cell[color="#1a237e"] {
    background-color: #1a237e;
}

.color-cell[color="#0d47a1"] {
    background-color: #0d47a1;
}

.color-cell[color="#01579b"] {
    background-color: #01579b;
}

.color-cell[color="#006064"] {
    background-color: #006064;
}

.color-cell[color="#004d40"] {
    background-color: #004d40;
}

.color-cell[color="#1b5e20"] {
    background-color: #1b5e20;
}

.color-cell[color="#33691e"] {
    background-color: #33691e;
}
.color-cell[color="#827717"] {
    background-color: #827717;
}

.color-cell[color="#f57f17"] {
    background-color: #f57f17;
}

.color-cell[color="#ff6f00"] {
    background-color: #ff6f00;
}

.color-cell[color="#e65100"] {
    background-color: #e65100;
}

.color-cell[color="#bf360c"] {
    background-color: #bf360c;
}

.color-cell[color="#3e2723"] {
    background-color: #3e2723;
}

.color-cell[color="#212121"] {
    background-color: #212121;
}
.color-cell[color="#263238"] {
    background-color: #263238;
}

.color-cell[color="#000000"] {
    background-color: #000000;
}
.color-cell[color="#657DC4"] {
    background-color: #657DC4;
}


.color-panel a {
    text-decoration: none;
}

/*stretch picture css*/
.stretch-photo-container .left-bottom-focus {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #f5a01b;
    border-left: 1px solid #f5a01b;
    position: absolute;
    left: -3px;
    bottom: -3px;
}

.stretch-photo-container .left-top-focus {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #f5a01b;
    border-left: 1px solid #f5a01b;
    position: absolute;
    left: -3px;
    top: -3px;
}

.stretch-photo-container .left-bottom-focus {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #f5a01b;
    border-left: 1px solid #f5a01b;
    position: absolute;
    left: -3px;
    bottom: -3px;
}

.stretch-photo-container .right-top-focus {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #f5a01b;
    border-right: 1px solid #f5a01b;
    position: absolute;
    right: -3px;
    top: -3px;
}

.stretch-photo-container .right-bottom-focus {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f5a01b;
    position: absolute;
    right: -3px;
    bottom: -3px;
    cursor: move;
}

.stretch-photo-container {
    display: inline-block;
    position: relative;
    margin: 0 1px;
    max-width: 100%;
}

.stretch-photo-container img {
    max-width: 100%;
}

.stretch-photo-container img::selection {
    background: none;
}

.stretch-photo-container img::-moz-selection {
    background: none;
}

/*code */
.code-body {
    min-height: 1em;
    width: 100%;
    background-color: #333333;
    color: #FFFFFF;
}

.blockquote-body {
    padding: 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
}

img.glyphicon {
    vertical-align: baseline;
}

/*行距*/
[p-line-height='1'] {
    line-height: 1em;
}

[p-line-height='1.2'] {
    line-height: 1.2em;
}

[p-line-height='1.4'] {
    line-height: 1.42857143em;
}

[p-line-height='1.8'] {
    line-height: 1.8em;
}

[p-line-height='2'] {
    line-height: 2em;
}

[p-line-height='2.5'] {
    line-height: 2.5em;
}

.hr-1 {
    border-top: 1px solid #e4e6e8;
}

.hr-2 {
    border-top: 2px solid #ccc;
}

.hr-3 {
    border-top: 2px solid #e4e6e8;
}

.hr-4 {
    border-top: 2px dashed #ccc;
}

.hr-5 {
    border-top: 2px dotted #ccc;
}

.hr-span {
    display: inline-block;
    width: 100%;
    height: 5px;
}

.select-number.select-line a {
    padding: 8px 16px !important;
}

.select-number li > a:hover {
    background-color: #EBEBEB !important;
}

.line-hr-div {
    padding-top: 10px;
}

hr.line-hr {
    margin-top: 0 !important;
    margin-bottom: 0;
!important;
    padding-bottom: 15px;
}

/* smartMenu.css	by zhangxinxu */
.smart_menu_box {
    display: none;
    width: 140px;
    position: absolute;
    z-index: 201105;
}

.smart_menu_body {
    padding: 1px;
    border: 1px solid #B8CBCB;
    background-color: #fff;
    -moz-box-shadow: 2px 2px 5px #666;
    -webkit-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;
}

.smart_menu_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.smart_menu_li {
    position: relative;
}

.smart_menu_a {
    display: block;
    height: 25px;
    line-height: 24px;
    padding: 0 5px 0 25px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
}

.smart_menu_a:hover, .smart_menu_a_hover {
    background-color: #348CCC;
    color: #fff;
    text-decoration: none;
}

.smart_menu_li_separate {
    line-height: 0;
    margin: 3px;
    border-bottom: 1px solid #B8CBCB;
    font-size: 0;
}

.smart_menu_triangle {
    width: 0;
    height: 0;
    border: 5px dashed transparent;
    border-left: 5px solid #666;
    overflow: hidden;
    position: absolute;
    top: 7px;
    right: 5px;
}

.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle {
    border-left-color: #fff;
}

.smart_menu_li_hover .smart_menu_box {
    top: -1px;
    left: 130px;
}

pre.prettyprint {
    margin: 5px 0;
    background-color: #444444;
}

.meditor-a-link {
    border-bottom: 1px solid #009a61;
    text-decoration: none;
    color: #009a61;
    font-weight: 600;
}

.meditor-a-link:hover {
    border-bottom: 1px solid #009a61;
    text-decoration: none;
    color: #004e31;
}

.meditor-card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
}

#linkModal .modal-content {
    padding: 15px 15px 10px 15px;
}

#linkModal .form-control {
    background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.checkbox input[type="checkbox"], .radio input[type="radio"] {
    z-index: 1;
    cursor: pointer;
    width: 19px;
    height: 19px;
    top: -2px;
}

.meditor-checkbox-label {
    line-height: 22px;
    color: #666666;
    margin-left: 5px;
}

::selection {
    background: #333;
    color: #ffffff;
}

::-moz-selection {
    background: #333;
    color: #ffffff;
}

.meditor-table {
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    margin: 5px 0;
    border-top: 2px solid #cc6666;
    border-left: 2px solid #cc6666;
}

.meditor-table td, .meditor-table th {
    border-bottom: 2px solid #cc6666;
    border-right: 2px solid #cc6666;
    padding: 4px;
    word-break: break-all;
    word-wrap: break-word;
}

/*select table*/
.select-table {
    padding: 5px;
    line-height: 0;
    width: 144px;
    min-width: 144px;
}

.select-table-cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
}


.select-table-cell.active {
    background-color: #FCDC74;
}